.container {
  padding-left: 20px;
}

form {
  display: inline-block;
}

.send-btn {
  vertical-align: bottom;
  margin: 5px;
}

.note {
  position: relative;
  width: 50%;
  border: 1px dotted black;
  padding: 10px;
  margin: 10px 0;
}


.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  color:red;
}
